*{background-repeat: no-repeat;margin:0;padding:0;}
html{background:none;color:#333; width:100%; height:100%;}
body{font-family:verdana,Microsoft YaHei,Tahoma,Arial; height:100%; width:100%;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var, b, i{font-style:normal;font-weight:normal;}
li{list-style-image:none;list-style-position: outside;list-style-type:none;}
caption, th{text-align:left;}
ul, ol{margin: 0}
h1, h2, h3, h4, h5, h6,p{font-size:100%;font-weight:normal;zoom:1;margin: 0}
input[type=radio], input[type=checkbox]{vertical-align: middle; margin-right:5px;}
textarea{resize:none;}
input[type=text],input[type=password],textarea, input[type=text]:focus, input[type=password]:focus, textarea:focus, button, button:focus{-webkit-appearance:textfield;outline:0}
a{color:#333;display: inline-block;}
a:focus{outline-style:none;outline-width:0;}
i{display: block;}
.clearfix:after {content: ".";display: block;height:0;clear: both;visibility:hidden}
.clearfix {zoom:1}
.aligncenter{text-align:center;}
html,body{font-size: 10px;}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    position: relative;
    top: -1px;
    margin-left: 4px
}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-left: 14px solid #fa483c;
    border-bottom: 19px solid transparent;
}
.size10{font-size:10px;font-size: 1rem}
.size11{font-size:11px;font-size: 1.1rem}
.size12{font-size:12px;font-size: 1.2rem}
.size13{font-size:13px;font-size: 1.3rem}
.size14{font-size:14px;font-size: 1.4rem}
.size15{font-size:15px;font-size: 1.5rem}
.size16{font-size:16px;font-size: 1.6rem}
.size17{font-size:17px;font-size: 1.7rem}
.size18{font-size:18px;font-size: 1.8rem}
.size20{font-size:20px;font-size: 2rem;}
.size22{font-size:22px;font-size: 2.2rem;}
.size24{font-size:24px;font-size: 2.4rem;}
.lineHei14{line-height: 14px}
.lineHei20{line-height: 20px}
.lineHei24{line-height: 24px}
.lineHei30{line-height: 30px}
.lineHei36{line-height: 36px}
.lineHei40{line-height: 40px}
.lineHei50{line-height: 50px}
.lineHei55{line-height: 55px}
.bold{font-weight: bold;}
.col_00{color: #000}

.p0{padding: 0}
.p10{padding: 10px}
.p15{padding: 15px}
.p20{padding: 20px}
.p30{padding: 30px}
.p_t10{padding-top: 10px}
.p_t15{padding-top: 15px}
.p_t20{padding-top: 20px}
.p_t30{padding-top: 30px}
.p_l3{padding-left: 3px;}
.p_l5{padding-left: 5px;}
.p_l10{padding-left: 10px;padding-left: 1rem;}
.p_l15{padding-left: 15px;padding-left: 1.5rem;}
.p_l20{padding-left: 20px;padding-left: 2rem;}
.p_l25{padding-left: 25px;padding-left:2.5rem;}
.p_lr10{padding-left: 10px;padding-right: 10px}
.p_lr15{padding-left: 15px;padding-right: 15px}
.p_lr20{padding-left: 20px;padding-right: 20px}
.p_lr25{padding-left: 25px;padding-right: 25px}
.p_lr30{padding-left: 30px;padding-right: 30px}
.p_lr40{padding-left: 40px;padding-right: 40px}
.p_tb5{padding-top: 5px;padding-bottom: 5px;}
.p_tb8{padding-top: 8px;padding-bottom: 8px;}
.p_tb10{padding-top: 10px;padding-bottom: 10px;}
.p_tb15{padding-top: 15px;padding-bottom: 15px;}
.p_tb20{padding-top: 20px;padding-bottom: 20px;}
.p_tb25{padding-top: 25px;padding-bottom: 25px;}
.p_tb30{padding-top: 30px;padding-bottom: 30px;}
.p_b10{padding-bottom: 10px}
.p_b20{padding-bottom: 20px}
.p_b30{padding-bottom: 30px}
.pr60{padding-right: 60px};
.pr30{padding-right: 30px};
.m0{margin: 0}
.m30{margin: 30px}
.mr0{margin-right:0}
.mt0{margin-top: 0!important}
.mt-2{margin-top: -2px;margin-top: -0.2rem}
.mt-5{margin-top: -5px;margin-top: -0.5rem}
.mt3{margin-top: 3px;margin-top: 0.3rem}
.mt5{margin-top: 5px;margin-top: 0.5rem}
.mt10{margin-top: 10px;margin-top: 1rem}
.mt12{margin-top: 12px;margin-top: 1.2rem}
.mt15{margin-top: 15px;margin-top: 1.5rem}
.mt20{margin-top: 20px}
.mt25{margin-top: 25px}
.mt30{margin-top: 30px}
.mt40{margin-top: 40px}
.mt50{margin-top: 50px}
.mb2{margin-bottom: 2px;margin-bottom: 0.2rem}
.mb5{margin-bottom: 5px;margin-bottom: 0.5rem}
.mb10{margin-bottom: 10px}
.mb12{margin-bottom: 12px}
.mb15{margin-bottom: 15px}
.mb20{margin-bottom: 20px}
.mb30{margin-bottom: 30px}
.mtb15{margin-top: 15px;margin-top: 1.5rem;margin-bottom: 15px;margin-bottom: 1.5rem}
.mtb20{margin-top: 20px;margin-top: 2rem;margin-bottom: 20px;margin-bottom: 2rem}
.mtb30{margin-top: 30px;margin-bottom: 30px;}
.mr5{margin-right: 5px}
.mr10{margin-right: 10px}
.ml3{margin-left: 3px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml13{margin-left: 13px;}
.ml15{margin-left: 15px;}
.ml30{margin-left: 30px;}
.ml50{margin-left: 50px;}
.ml50p{margin-left: 50%;}
.ml70{margin-left: 70px;}
.mlr3{margin-left: 3px;margin-right: 3px}
.mlr10{margin-left: 10px;margin-right: 10px}
.mlr15{margin-left: 15px;margin-right: 15px}
.ml20{margin-left: 20px;}
.mr2{margin-right: 2px}
.mr20{margin-right: 20px}
.mr30{margin-right: 30px}
.mr40{margin-right: 40px;}
.mr3p{margin-right: 3%}
.center{margin: auto}

.text-overflow{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.text-indent{text-indent: 2rem}

.col-20{width: 20%;float: left;}

.overflow{overflow: hidden;}
.pos_abs{position: absolute;}
.pos_rel{position: relative;}
.pos_sta{position: static;}
.bg_none{background: none}
.bor_none{border: none}
.bor_t_none{border-top: none!important}
.bor_l_none{border-left: none!important}
.bor_b_none{border-bottom: none!important}

.inlineb{display: inline-block;}
.block{display: block;}
.hide{display: none;}

.pointer{cursor: pointer;}

.radius2{border-radius: 2px}

@media screen and (max-width: 768px) {
  .clearfix-xs{clear: both;}
  .size8-xs{font-size: .8rem}
  .size10-xs{font-size: 1rem}
  .size11-xs{font-size: 1.1rem}
	.size12-xs{font-size: 1.2rem}
  .size13-xs{font-size: 1.3rem}
	.size14-xs{font-size: 1.4rem}
	.size15-xs{font-size: 1.5rem}
	.size16-xs{font-size: 1.6rem}
	.size18-xs{font-size: 1.8rem}
  .font_normal{font-weight: normal;}
  .p0-xs{padding: 0}
  .pt0-xs{padding-top: 0!important}
  .pb0-xs{padding-bottom: 0!important}
  .mt10-xs{margin-top: 1rem}
  .mt5-xs{margin-top: .5rem}
  .p-b10-xs{padding-bottom: 1.5rem}
  .m0-xs{margin: 0}
  .m10-xs{margin: 1rem}
  .mt0-xs{margin-top: 0}
  .mt5-xs{margin-top: .5rem}
  .mt15-xs{margin-top: 1.5rem}
  .mt20-xs{margin-top: 2rem}
  .mr0-xs{margin-right: 0}
  .mb0-xs{margin-bottom: 0}
  .ml0-xs{margin-left: 0!important}
  .ml5-xs{margin-left: .5rem}
  .ml10-xs{margin-left: 1rem}
  .ml15-xs{margin-left: 1.5rem!important}
  .mb5-xs{margin-bottom: .5rem}
  .mb10-xs{margin-bottom: 1rem}
  .mb20-xs{margin-bottom: 2rem}
  .mr5-xs{margin-right: .5rem}
  .mr10-xs{margin-right: 1rem}
  .mtb10-xs{margin-top: 1rem;margin-bottom: 1rem}
  .p10-xs{padding:1rem}
  .p15-xs{padding: 1.5rem;}
  .p-tb5-xs{padding-top: .5rem;padding-bottom: .5rem}
  .p-tb10-xs{padding-top: 1rem;padding-bottom: 1rem}
  .p-tb15-xs{padding-top: 1.5rem;padding-bottom: 1.5rem}
  .p-t5-xs{padding-top: .5rem}
  .p-l10-xs{padding-left: 1rem}
  .p-lr3-xs{padding-left: .3rem;padding-right: .3rem}
  .p-lr5-xs{padding-left: .5rem;padding-right: .5rem}
  .p-lr15-xs{padding-left: 1.5rem;padding-right: 1.5rem}
  .p-lr25-xs{padding-left: 2.5rem;padding-right: 2.5rem}
  .bor-none-xs{border: none!important}
  .bor-t0-xs{border-top: none!important}
  .bor-r0-xs{border-right: none!important}
  .bor-lr0-xs{border-right: none!important;border-left: none!important}
  .bor-tbe3-xs{border-top: 1px solid #e3e3e3!important;border-bottom: 1px solid #e3e3e3!important}
  .lihei18-xs{line-height: 1.8rem}
  .lihei30-xs{line-height: 3rem}
  .text-left-xs{text-align: left;}
  .text-center-xs{text-align: center;}
  .star_big{width: 1.6rem}
  .pull-left-xs{float: left!important;}
}
@media screen and (min-width: 320px) {
  html,body {
    font-size: 10px
  }
}
@media screen and (min-width: 360px) {
  html,body {
    font-size: 11.25px
  }
}
@media screen and (min-width: 400px) {
  html,body {
    font-size: 12.5px
  }
}
@media screen and (min-width: 768px) {
  html,body {
    font-size: 10px;
    min-width:1200px
  }
  .container{ overflow-x:visible!important;}
  .clearfix-lg:after {content: ".";display: block;height:0;clear: both;visibility:hidden}
	.clearfix-lg {zoom:1}
	.pull-right-lg{float: right!important;}
}