/* 左侧共用 在main中 */
/* 主体右侧 */
.box-right{
    /* background: #999; */
    /* height: 200px; */
    width: 968px;
}

.tit{
    width: 100%;
    height: 41px;
    line-height: 41px;
    padding-left: 25px;
    background-color: #fff;

}
.tit h5,.tit i, .tit a,.b-r-content h5, .b-r-content a{
    display: inline-block;
}

/* 中间 */
.b-r-pay{
    margin:20px 0;
    height: 140px;
    background-color: #fff;
    
}
.b-r-pay .brp-l1,.b-r-pay .brp-l2,.b-r-pay .brp-r2{
    width: 230px;
    height: 140px;
    border-right:1px dashed #E9E9E9;
    float: left;
}
.b-r-pay .brp-l1{
    width: 260px;
}
.brp-l1 .brp-icon{
    width: 80px;
    height: 80px;
    border: 1px solid red;
    border-radius: 50%;
    float: left;
    margin: 30px 20px 30px 40px; 
    box-sizing: border-box;
}
.brp-l1 span{
    display: inline-block;
    margin-top: 35px;
    font-size: 14px;    
}
.brp-l1 i{
    color: #BCBCBC;
    font-size: 12px;
}
.brp-l1 a{
    color: #65B6E3;
    font-size: 12px;
}
.b-r-pay .brp-l2{
    width: 380px;
    text-align: center;
    padding-top: 30px;
}
.b-r-pay .brp-l2 a{
    font-size: 12px;
    color: #65B6E3;
    margin-top: 10px;
}

.b-r-pay .brp-r2{
    width: 260px;
    padding: 12px 0 0 20px;
    border-right: none;
}
.brp-r2 p, .brp-r2 i, .brp-r2 a, .brp-r2 span{
    display: inline-block;
    font-size: 12px;
}
.brp-r2 .pass{
    width: 200px;
    height:16px;
    border-radius: 20px;
    background-color: #ddd;
}
.brp-r2 a{
   color: #65B6E3
}
.brp-r2 i{
    margin-right: 20px;
    color: #D0DF8A;
 }
 /* 底下 */

 .service{
     width: 100%;
     height: 416px;
     background-color: #fff;
     padding: 10px 20px;
     overflow: hidden;
 }
 .service h6{
     padding-bottom: 12px;
     border-bottom: 1px solid #E5E5E5;
     margin-bottom: 0;
 }

 .service li{
     height: 93px;
     font-size: 14px;
    padding: 20px 0;
    border-bottom: 1px dashed #e8e8e8 
}
 .service li>img, .service li>span{
     float: left;
    /* width: 200px; */
    vertical-align: top
}
.service li>img{
    margin-left: 90px;
}
.service li>span{
   width: 180px;
   margin: 10px 0 0 10px;
}
.service li>div{
    float: left;
}
.service li i, .service li a{
     display: inline-block;
 }

 .service li a{
    float: right;
    margin:10px 90px 0 0;
    padding: 3px 10px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}

/* 单个设置 */
.service li:nth-child(2) a{
    background-color: red;
    color: #fff;
}

/* 已验证 */
.service li .modify,.service li .back{
    margin: 12px 10px 0 10px;;
    padding: 0;
    border: none;
    border-radius: 2px;
    color: #65B6E3;
    font-size: 12px;
}
.service li .modify{
    margin-right: 70px;
}
.service li .modify:hover,.service li .back:hover{
    color: red;
}