
 .box-right{
    /* height: 600px; */
    width: 968px;
}

.tit{
    width: 100%;
    height: 41px;
    line-height: 41px;
    padding-left: 25px;
    background-color: #fff;
}
.tit h5{ 
    height: 41px;
    line-height: 41px;
    font-size: 14px;
    margin: 0;
}
.tit h5{
    display: inline-block;
}

 .b-r-cen{
    width: 100%;
    /* height: 528px; */
    background-color: #fff;
    margin:20px 0;
    padding: 20px 30px;
 }

 .city{
     border:1px solid #F7F7F7;
     padding: 10px 20px;
     font-size: 14px;
 }
.city .city-t{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #F7F7F7;
}

 .city .city-t i{
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
 }
 
.city .city-t span{
    position: relative;
    /* padding: 2px 12px; */
     border-radius: 2px;
   margin-right: 10px;
   /* background-color: red; */
   /* border:1px dashed red; */
   color:red;
}



.city-c span{
    float: left;
}
.b-r-cen .city-c{
    border-bottom: 1px solid #F7F7F7;    
}
.city-c ul{
    margin-bottom: 10px;
    margin-top: 15px; 
    margin-left: 50px;
 }
 .city-c ul:last-child{
    margin-bottom: 10px;
    margin-top: 10px; 
    margin-left: 50px;
 }
.city-c ul li{
    display: inline-block;
    margin-right: 20px;   
    margin-bottom: 5px; 
    cursor: pointer;  
 }

.city-c ul li{
    display: inline-block;
    padding:0 10px;
    margin-right: 10px;   
    margin-bottom: 5px; 
    cursor: pointer;  
    border-radius: 2px;
 }
 .city-c ul li:hover{
  background-color: red;
  color: #fff;
 }

 .city-b{
    margin-left: 60px;
    margin-top: 10px;
}
.city-b input{
    text-indent: 10px;
 }
.city-b input::-webkit-input-placeholder{
   text-indent: 10px;
   color: #979797;
}
 .city-b a{
     height: 26px;
     line-height: 26px;
     display: inline-block;
     background-color: red;
     color: #fff;
     padding: 0 12px;
     border-radius: 2px;
 }

 /* 表格 */
 .searchResult tbody td a{
     display: inline-block;
     color: dodgerblue;
     margin-left: 10px;
 } 
 .searchResult tbody td a:hover{
    color:red;
} 